<!--<h1>Home#index</h1>-->
<!--<p>Find me in app/views/home/index.html.erb</p>-->

<!--<button><%#= link_to 'new user', new_user_path %></button>-->

<!--<br>-->
<!--<br>-->

<!--<label for="cars">Choose a user:</label>-->

<!--<select name="users" id="users">-->
  <%# @users.each do |user| %>
<!--    <option value="<%#= user.name %>"><%#= user.name %>(@<%#= user.username %>)</option>-->
  <%# end %>
<!--</select>-->

<!--<script>-->
<!--    function GetSelectedValue(){-->
<!--        const e = document.getElementById("users");-->
<!--        document.getElementById("result").innerHTML = e.options[e.selectedIndex].value;-->
<!--    }-->

<!--    function GetSelectedText(){-->
<!--        const e = document.getElementById("users");-->
<!--        document.getElementById("result").innerHTML = e.options[e.selectedIndex].text;-->
<!--    }-->
<!--</script>-->

<!--<br/>-->
<!--<br/>-->
<!--<button type="button" onclick="GetSelectedValue()">Get Selected Value</button>-->
<!--<button type="button" onclick="GetSelectedText()">Get Selected Text</button>-->

<!--<p id="result"></p>-->